<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CuidadoPorcino</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />    
    <link rel="stylesheet" href="~/CuidadoPorcino.App.Frontend.styles.css" asp-append-version="true" />
</head>
<body>
    
    <div class="fondoCirculos">
        <nav>
            <div class="containerLogo">
                <div class="logo"></div>
                <p>Cuidado Porcino</p>
            </div>
            <div class="links">
                <a asp-page="/Index">Inicio</a>
                <a asp-page="/Cerdo">Cerdos</a>
                <a asp-page="/Propietario">Propietarios</a>
                <a asp-page="/Veterinario">Veterinarios</a>
            </div>
        </nav>
        <section class="content">
            @RenderBody()
        </section>
    </div>


    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>