@page
@model CuidadoPorcino.App.Frontend.Pages.CerdoModel
@{
    ViewData["Title"] = "Cerdo";
}

            <section class="form">
                <p class="title">Cerdo</p>
                <form action="#">
                    <p>Por favor ingrese los siguientes datos</p>
                    <input type="text" placeholder="Nombres" name="" id="">
                    <input type="text" placeholder="Color" name="" id="">
                    <input type="text" placeholder="Especie" name="" id="">
                    <input type="text" placeholder="Raza" name="" id="">
                    <button type="submit">Guardar</button>
                </form>
            </section>
            <section class="foto">
                <div class="size">
                    <div class="molde">
                        <div class="cont">
                            <img src="./images/cerdo.jpg" alt="cerdo">
                        </div>
                    </div>
                </div>
            </section>