@page
@model CuidadoPorcino.App.Frontend.Pages.PropietarioModel
@{
    ViewData["Title"] = "Propietario";
}
            <section class="form">
                <p class="title">Propietario</p>
                <form action="#">
                    <p>Por favor ingrese los siguientes datos</p>
                    <input type="text" placeholder="Nombres" name="" id="">
                    <input type="text" placeholder="Apellidos" name="" id="">
                    <input type="email" placeholder="Correo electronico" name="" id="">
                    <input type="text" placeholder="Direccion" name="" id="">
                    <input type="int" placeholder="Telefono" name="" id="">
                    <button type="submit">Guardar</button>
                </form>
            </section>
            <section class="foto">
                <div class="size">
                    <div class="molde">
                        <div class="cont">
                            <img src="./images/propietario.png" alt="Propietario">
                        </div>
                    </div>
                </div>
            </section>
